@font-face {
    font-family: sonalilipi;
    src: url('../font/SolaimanLipi.ttf');
  }
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    background: #fff; 
    font-family: 'Open Sans', sans-serif;
}
.menu-item.menu-item-active > .menu-link .menu-icon i {
    color: #3699FF !important;
}
.brand-logo img{
    width: 160px;
}
.partners img {
    width: 150px;
}
/* @media screen and (min-width: 992px){
    .header-fixed.subheader-fixed.subheader-enabled .wrapper {
        padding-top: 60px;
    }
} */
.full-width-footer .footer{
    left: 0 !important;
}

.split {
    height: 100%;
}

.split > div {
    float: left;
    height: 100%;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}
.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}
.aside-menu .menu-nav > .menu-item {
    margin-right: 15px;
}
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link {
    background-color: #c1e0ff !important;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.aside-menu .menu-link:hover {
    background-color: #F3F6F9 !important;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.aside-menu .menu-nav > .menu-item > .menu-link {
    padding: 5px 25px !important;
    min-height: 36px !important;
}
/********************************/
/*******************************/
.gravatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

footer a {
    color: rgba(78,53,35);;
}
footer p{
    font-size: 18px !important;
    font-weight: 200;
    line-height: 28px;
}
p {
    font-size: 18px !important;
    font-weight: 200;
    line-height: 28px;
}
footer a:hover, footer a:focus {
    color: #4D4D4D;
    text-decoration: none;
}

.navbar-nav>li a {
    font-size: 15px;
    color: #4D4D4D !important;
    cursor: pointer;
}
.course-filter {
    padding-top: 5px;
    background: #fff;
    padding-right: 16px;
    padding-bottom: 6px;
    border-radius: 20px;
}
.filter-label {
    font-size: 21px;
    margin-right: 10px;
    color: #989898;
    float: left;
}

.btn-default.btn-lg.btn-course-filter.dropdown-toggle {
    background: none;
    border: 0;
    color: #239091 !important;
    padding: 0px;
    font-size: 21px;
    top: 3px;
    text-transform: capitalize;
}
.search {
    margin-bottom: 30px;
}
input.form-control.search {
    border-bottom-left-radius: 6px !important;
    border-top-left-radius: 6px !important;
    font-size: 17px;
    height: 45px;
    padding-left: 18px;
}
.btn-default {
    color: #333 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
}
.course-listing-title {
    color: #9e4a8c;
    line-height: 25px;
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.progress .progress-bar {
    float: left;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-left-radius: 99px;
    -webkit-border-bottom-left-radius: 99px;
    -moz-border-radius-topleft: 99px;
    -moz-border-radius-bottomleft: 99px;
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
    border-radius: 99px;
    -moz-border-radius: 99px;
    -webkit-border-radius: 99px;
    background-color: #239091;
    text-align: left;
    height: 12px;
    background: rgba(219,155,73, 1);
}
.course-listing-extra-info {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    padding: 16px;
    width: 100%;
}
.course-author-name {
    max-height: 30px;
    max-width: 225px;
    line-height: 30px;
    font-weight: 200;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 5px;
}
.course-progress {
    color: rgba(82,54,48, 1);
    font-size: 11px;
    font-weight: normal;
    text-align: right;
}
.course-progress .percentage {
    font-size: 18px;
    line-height: 19px;
    font-weight: bold;
}
@media screen and (min-width: 992px){
    #contentWrapper {
        margin-top: 60px;
        padding-left: 0 !important;
    }
    #contentWrapper .aside-enabled .header.header-fixed {
        left: 0px;
    }
    .aside-fixed .wrapper {
        padding-left: 0px;
    }
    #contentWrapper  .aside-fixed .aside{
        top: 60px;
    } 
    .aside {
        width: 350px;
    }
    #contentWrapper{
        margin-top: 60px;
    }
    .aside-enabled .header.header-fixed {
        left: 350px;
    }
}

@media screen and (max-width: 991.98px){
    .header-menu-mobile .menu-nav > .menu-item > .menu-heading, .header-menu-mobile .menu-nav > .menu-item > .menu-link {
        cursor: pointer;
        min-height: auto;
    }
}
@media screen and (min-width: 1200px){
    .container {
        width: 1170px;
    }
}



.course-sidebar img.course-image {
    display: block;
    width: 100%;
    margin: 0;
}
.course-sidebar h2 {
    font-size: 1.5rem;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    line-height: 1.5;
}
.progress-full{
    padding: 25px 25px;
    border-bottom: 1px solid #e3e3e3;
}
#contentWrapper .progress-full{
    padding: 15px;
}
#contentWrapper .course-listing-extra-info{
    padding: 15px 0px 0px;
}
#contentWrapper .course-author-name{
    margin-left: 0;
}
#contentWrapper .course-progress{
    margin-bottom: 0 !important;
}
#contentWrapper .aside-menu{
    border-right: 1px solid #efefef;
}
.course-sidebar ul.sidebar-nav li {
    font-size: 17px;
    padding: 0px;
    border-left: 3px solid transparent;
}
.course-sidebar ul.sidebar-nav li a {
    font-size: 18px;
    padding: 13px 18px;
    color: #4D4D4D;
    display: flex;
    align-items: center;
    margin-top: 1px;
}
.course-sidebar ul.sidebar-nav li a i {
    margin-right: 4px;
}
.course-sidebar ul.sidebar-nav li a i {
    margin-top: 4px;
}
.course-sidebar ul.sidebar-nav {
    margin: 0;
    padding: 0;
}
.course-progress-percentage {
    margin-top: 10px !important;
    font-size: 16px;
}
.percentage {
    font-size: 20px;
    font-weight: bold;
}
.course-progress-percentage {
    margin-top: 10px !important;
}
#contentWrapper{
    margin-top: 60px;
}
.course-mainbar {
    width: 100%;
    background: #fff;
    padding: 40px;
    padding-top: 55px;
    height: auto;
    margin-left: 0px;
}
.course-mainbar .next-lecture-wrapper {
    background: #d8e8e8;
    border-radius: 6px;
    margin-bottom: 20px;
}
.section-title {
    background: transparent;
    padding: 10px 16px;
    margin: 0;
    font-size: var(--fs0);
    line-height: var(--lh0);
    font-weight: 600;
    border-bottom: 1px solid #fff;
}
.lecture-nav {
    display: flex;
    align-items: center;
    float: right;
    height: 50px;
    margin-left: 0;
    margin-right: 16px;
    margin-top: 5px;
}
.lecture-page-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: unset;
    height: calc(100vh - 71px);
    overflow: scroll;
}

.lecture-nav a.nav-btn {
    align-items: center;
    color: #4D4D4D;
    display: flex;
    justify-content: center;
    border: 1px solid #4D4D4D;
    border-radius: 6px;
    padding: 9px 16px;
    margin-right: 8px;
    font-size: 1rem;
    line-height: 1.8;
    font-weight: 600;
    flex: none;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
}
a.nav-btn.complete {
    background: #239091;
    color: #4D4D4D;
    text-decoration: none;
}
.audioloader__placeholder {
    align-items: center;
    background-color: #f9f9f9;
    color: #505050;
    display: flex;
    height: 32px;
    margin-bottom: 6px;
    padding-left: 16px;
    width: 100%;
}
.video-options a {
    float: left;
    margin-right: 4px;
    background-color: #f7f7f7;
    padding: 10px 16px;
    cursor: pointer;
    color: #239091;
    font-weight: bold;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.lecture-attachment .attachment {
    background-color: #f7f7f7;
    margin: 0px;
    font-size: 14px;
    padding: 6px 13px;
    line-height: 25px;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    margin-top: 30px;
}
.lecture-attachment .attachment-block-wrapper.comments {
    padding: 35px;
    border: 1px solid #d7dada;
    border-radius: 5px;
}
.settings-dropdown ul.dropdown-menu li {
    padding: 12px 24px;
    color: #000;;
    font-size: 0.889rem;
    font-weight: 400;
}
.settings-dropdown ul.dropdown-menu {
    margin-top: 0px;
    width: 220px;
    box-shadow: 0px 6px 20px rgb(32 39 45 / 15%);
    padding: 0px;
    background-color: #fff;
}
.btn-warning-custom{
    color: #ffffff;
    background-color: #ed7715;
    border-color: #ed7715;
}
.btn-warning-custom:hover{
    color: #ffffff !important;
    background-color: #ff9e01 !important;
    border-color: #ff9e01 !important;
}
.custom-nav{
    background: rgba(219,155,73, 1);
}
.custom-nav li a{
    color: #fff !important;
}
#kt_header{
    background: rgba(219,155,73, 1);
}